.header-area {
    display: flex;
    justify-content: space-between;
    margin: 8px 0px;
}

.first-title {
    font-weight: bold;
}

.big-title {
    border-top: #000 1px solid;
    border-bottom: #000 1px solid;
    background-color: #E5EFF7;
    padding-left: 12px;
}

.big-title .introduction {
    margin: 0px 0px 8px 8px;
}