body {
  margin: 12px;
}

textarea, input {
  font-size: 14px;
  font-family:"微软雅黑";
  padding: 4px 8px;
  margin: 4px 0px;
  width: calc(100% - 20px);
}

.header-area {
  justify-content: space-between;
  margin-bottom: 12px;
}

.flex-wrap {
  display: flex;
  flex-flow: row wrap;
}

form {
  margin: 16px 0px;
  width: auto;
}

form .error {
  color: red;
  font-style: italic;
  font-size: 14px;
}

form summary {
  margin-top: 4px;
}

form button {
  margin-top: 8px;
  padding: 4px 8px;
  font-size: 14px;
}

.link-btn {
  cursor: pointer;
  color: #0000EE;
}

.page-part {
  border-top: #000 1px solid;
  border-bottom: #000 1px solid;
  background-color: #E5EFF7;
  padding: 0px 12px;
  width: calc(100% - 24px);
}

.flex-center {
  justify-content: center;
}